* {
	margin: 0;
	padding: 0;
	body {
		h1 {
			font-size: clamp(2.5rem, 4vw, 4rem);
			font-weight: 500;
		}
		h2 {
			font-size: clamp(1.5rem, 2.5vw, 4rem);
		}
		h3 {
			font-size: clamp(1.2rem, 1.8vw, 3rem);
		}
		p {
			font-size: clamp(1.1rem, 1.2vw, 2rem);
		}
	}
}

@font-face {
	font-family: 'starjhol'; /* Give your font a custom name */
	src: url('/src/fonts/Starjhol.ttf') format('truetype'); /* Adjust the path as needed */
	font-weight: normal;
	font-style: normal;
  }

body {
	overflow-x: hidden;
	@apply bg-space-background bg-cover;
  }

